.header {
  background: #e5e5e5;

  &__lang {
    background-color: #000;
    padding: 13px 0;
  }

  &__lang {
    display: flex;
    align-items: center;
  }

  &__lang-link {
    margin-left: 147px;
    font-weight: 700;
    font-size: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #ffffff;
    margin-right: 8px;
  }

  &__lang-active {
    font-weight: 700;
    font-size: 10px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-feature-settings: "pnum" on, "lnum" on;

    color: rgba(255, 255, 255, 0.3);
  }

  &__content {
    padding: 0px 147px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 98px;
  }

  &__list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }

  &__btns {
    display: flex;
    align-items: center;
  }

  &__btn {
    margin-right: 15px;
    padding: 4px 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.44px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #0d0d0d;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    width: 70px;
    height: 30px;
  }

  &__active-btn {
    width: 197px;
    background: #ffc000;
    border-radius: 4px;
  }

  &__cart-img {
    cursor: pointer;
  }
}
